doctype
html
  head
    title Scrollspy for jQuery
    link(rel='stylesheet' href='./css/bootstrap.min.css')
    link(rel='stylesheet' href='./css/main.css')
    script(type='text/javascript' src='./js/jquery-1.9.1.js')
    script(type='text/javascript' src='../scrollspy.jquery.js')
  body
    != yield