.container
  .jumbotron.text-center
    h1 ScrollSpy
    .lead
      h2 By&nbsp
        a(href='https://github.com/thesmart' target='_blank')
          | @thesmart
      p
        | A ScrollSpy library for jQuery that detects the enter and exit of elements in a viewport or scrollable div.
  .row
    .col-md-6
      h4 About
      p
        | ScrollSpy is
    .col-md-6
      h4
        | Getting started:
      pre
        code
          | $ sudo npm install -g harp
          | $ harp init myproject
          | $ harp server myproject
  .row
    .col-md-6
      h3 Viewport Demo
      h4 Boxes turn yellow if in viewport for a few seconds:
      #demo-1
        #box-1.box
          | Box one
        #box-2.box
          | Box two
        #box-3.box
          | Box three
    .col-md-6
      h3 Overflow Div Demo
      h4 Boxes turn yellow if in the viewable scroll area for a few seconds:
      #demo-2
        .area
          #box-4.box
            | Box four
          #box-5.box
            | Box five
          .clear-fix
          #box-6.box
            | Box six
          #box-7.box
            | Box seven