.container
  .jumbotron.text-center
    h1 ScrollSpy
    .lead
      h2 By&nbsp
        a(href='https://github.com/thesmart' target='_blank')
          | @thesmart
      p
        | A ScrollSpy library for jQuery that detects the enter and exit of elements in a viewport or scrollable div.
  header
    ul.nav.nav-tabs.nav-justified(role="tablist")
      li.active
        a(href="./") Home
      li
        a(href="./viewport") Viewport Demo
      li
        a(href="./overflow") Overflow Demo
  .row
    .col-md-8.col-md-offset-2
      h4
        | Getting started:
      pre
        code
          | $ git clone git@github.com:thesmart/jquery-scrollspy.git
          | $ cp ./jquery-scrollspy/scrollSpy.jquery.min.js ~/your-project-folder
  .row
    .col-md-8.col-md-offset-2
      h4 Demo examples
      p
        a(href="./overflow") Spy elements entering or exiting viewport
      p
        a(href="./overflow") Spy elements entering or exiting the viewable region of a div in overflow mode
  .row
    .col-md-8.col-md-offset-2
      h4 To start development on ScrollSpy:
      pre
        code
          | $ git clone git@github.com:thesmart/jquery-scrollspy.git
          | $ cd jquery-scrollspy
          | $ sudo npm install -g harp
          | $ harp server .
          | # open a new console tab or console window
          | $ open 127.0.0.1:9000/demo/
          | $ open 127.0.0.1:9000/demo/