doctype
html
  head
    title Scrollspy for jQuery
    link(rel='stylesheet' href='/bootstrap.min.css')
    link(rel='stylesheet' href='/main.css')
    script(type='text/javascript' src='/scrollspy.jquery.js')
  body
    != yield